.about-hero {
  font-family: "Helvetica", sans-serif;
}

.about-hero > h2 {
  font-size: 2.5em;
  font-weight: lighter;
  margin-top: 3%;
  padding-left: 5%;
  padding-top: 5%;
}

.about-hero > h4 {
  font-size: 1.4em;
  font-weight: lighter;
  padding-left: 5%;
}
.mission-statement > h3 {
  font-size: 1.5em;
  font-weight: lighter;
  padding: 3% 3% 0 3%;
}

.mission-statement > p {
  padding: 1% 3% 3% 3%;
}
.mission-statement {
  font-family: "Helvetica", sans-serif;
  text-align: center;
}

.careers > h3 {
  font-size: 1.5em;
  font-weight: lighter;
}
.careers > h4 {
  font-weight: lighter;
  text-transform: uppercase;
}
.careers {
  font-family: "Helvetica", sans-serif;
  padding: 3%;
  background-color: #252323;
}

.our-story > h3 {
  font-size: 1.5em;
  font-weight: lighter;
  padding: 3% 3% 0 3%;
}

.our-story > p {
  padding: 1% 3% 3% 3%;
}
.our-story {
  font-family: "Helvetica", sans-serif;
  text-align: center;
}
